


*{
padding: 0px;
margin: 0;
}

.navbar-text{
    color: rgb(250, 250, 250) ;
}

.site-header-logo{
    color: rgb(71, 17, 71) ;
    font-size: 2.5rem;
}

.navbar-brand:hover{
    color: rgb(250, 250, 250) ;
}

.site-header-logo h1{
    color: rgb(65, 13, 219) ;
    font-size: 3rem;
    margin-top: 2rem;
}